@import "tailwindcss";

:root {
  --background: #f7f4f0;
  --foreground: #2c2416;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin 10s linear infinite;
}
